.title {
    font-family: "American Scribe";
}

.about {
    background-color: papayawhip;
    height: 100vh;
    padding: 0 200px 50px 200px;
}

.about h2 {
    color: #FFCC00;
    font-size: 28px;
    text-shadow: 1px 1px grey;
}