.contact {
    background-color: papayawhip;
    height: 100vh;
}

.title {
    padding-top: 10px;
}

.form {
    margin: 50px 0 0 350px;
    text-align: left;
}

.name,
.email,
.message {
    padding: 10px;
}

.name input {
    margin-left: 25px;
    background-color: #FFCC00;
    border: 1px solid grey;
    border-radius: 2px;
    width: 200px;
}

.email input{
    margin-left: 29px;
    background-color: #FFCC00;
    border: 1px solid grey;
    border-radius: 2px;
    width: 200px;
}

.message label {
    position: relative;
    top: -180px;
}

.message textarea {
    width: 400px;
    height: 200px;
    margin-left: 5px;
    background-color: #FFCC00;
    border: 1px solid grey;
    border-radius: 2px;
}

.submit {
    position: relative;
    left: 30%;
    background-color: #FFCC00;
    border: 1px solid #FFCC00;
    border-radius: 3px;
    padding: 5px;
}

.submit:hover {
    cursor: pointer;
    font-weight: bold;
}