.form {
    margin: 200px 0 0 200px;
    text-align: left;
}

.name,
.email,
.message {
    padding: 10px;
}

.name input {
    margin-left: 25px;
}

.email input{
    margin-left: 29px;
}

.message textarea {
    margin-left: 5px;
}

.message textarea {
    width: 400px;
    height: 200px;
}

.submit {
    position: relative;
    left: 40%;
}

.submit:hover {
    cursor: pointer;
    font-weight: bold;
}