.heroDiv {
    width: 100vw;
    background-color: #FEC93D;
}

.hero-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 50vw;
    height: 90vh;
}

.location {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 150vh;
}

.schedule {
    width: 90%;
    position: relative;
    left: 5%;
}

.variations {
    text-align: left;
    width: 30%;
    padding-left: 100px;
}

.workout {
    color: #FFCC00;
    font-size: 20px;
    text-shadow: 3px 3px black;
}

.unique2 {
    background-color: #272727;
    color: white;
    padding: 10px 0;
}

.cleaning {
    font-size: 24px;
}