html, body {
  background-color: #FFCC00;
  overflow-x: hidden;
}

.App {
  text-align: center;
}

.main-app {
  margin-top: 20px;
}

.navbar {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  padding: 35px 100px 35px 120px;
  gap: 50px;
  font-size: 20px;
}

.pages {
  color: black;
}

.navbar .pages:hover {
  font-weight: bold;
}

.subnav {
  display: none;
}

.subnav.active {
  display: block;
  position: absolute;
  left: 25.5%;
  top: 15%;
  height: 260px;
  width: 130px;
  background-color: #FFCC00;
  z-index: 1;
}

.sub-pages {
  color: black;
}

.sub-pages:hover {
  font-weight: bold;
}