html, body {
  background-color: #FFCC00;
}

.App {
  text-align: center;
}

.navbar {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  padding: 35px 100px 35px 120px;
  gap: 50px;
  font-size: 20px;
}

.navbar .pages:hover {
  font-weight: bold;
}