.title {
    font-family: "American Scribe";
}

.about {
    background-color: papayawhip;
    height: auto;
    padding: 0 200px 0 200px;
}

.about h2 {
    color: #FFCC00;
    font-size: 28px;
    text-shadow: 1px 1px grey;
}

.location {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 150vh;
    position: relative;
    margin-left: -25%;
    overflow-y: hidden;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .about {
        padding: 0 20px;
    }

    .location {
        width: 85vw;
        height: 100vh;
        margin-left: 0;
    }
}