.title {
    font-family: "American Scribe";
}

.blog {
    background-color: papayawhip;
    height: auto;
}

.article-title {
    color: #FFCC00;
    font-size: 40px;
    text-shadow: 3px 3px black;
}

article {
    padding: 0 100px;
}

/* Extra small devices (phones, 768px and down) */
@media only screen and (max-width: 768px) {
    .article-title {
        font-size: 26px;
    }

    .article-img {
        width: 80vw;
        height: 60vh;
    }

    article {
        padding: 0 20px;
    }
}

/* Medium devices (769px to 1000px) */
@media only screen and (min-width: 769px) and (max-width: 1000px) {
    .article-img {
        width: 75vw;
    }
}