.heroDiv {
    width: 100vw;
    background-color: #FEC93D;
}

.hero-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 50vw;
    height: 90vh;
}

.schedule {
    width: 90%;
    position: relative;
    left: 5%;
}

.variations {
    text-align: left;
    width: 30%;
    padding-left: 100px;
}

.workout {
    color: gold;
    font-size: 20px;
    text-shadow: 3px 3px black;
}

.unique2 {
    background-color: #272727;
    color: white;
    padding: 10px 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .main {
        width: 100%;
        font-size: 14px;
        overflow-x: hidden;
    }

    .hero-image {
        width: 100%;
        height: 40vh;
    }

    .banner {
        width: 100%;
    }

    .unique {
        font-size: 10px;
    }

    .schedule {
        width: 100%;
        font-size: 12px;
        position: relative;
        left: 0;
    }

    .variations {
        padding: 0;
    }

    .workout {
        font-size: 14px;
    }

    .unique2 {
        font-size: 14px;
    }

    .download {
        font-size: 9px;
    }

    .download img {
        height: 100px;
        width: 100px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}