.heroDiv {
    width: 100vw;
    height: auto;
    background-color: #FEC93D;
}

.hero-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 50vw;
    height: 100vh;
    padding: 100px 0;
}

.schedule {
    width: 90%;
    position: relative;
    left: 5%;
}

.schedule th {
    text-align: left;
}

.variations {
    text-align: left;
    width: 30%;
    padding-left: 100px;
}

.workout {
    color: gold;
    font-size: 20px;
    text-shadow: 3px 3px black;
}

.unique2 {
    background-color: #272727;
    color: white;
    padding: 10px 0;
}

/* Extra small devices (phones, 768px and down) */
@media only screen and (max-width: 768px) {
    .main {
        width: 100%;
        font-size: 14px;
        overflow-x: hidden;
    }

    .hero-image {
        width: 100%;
        height: 40vh;
    }

    .banner {
        width: 100%;
    }

    .unique {
        font-size: 10px;
    }

    .schedule {
        width: 100%;
        font-size: 12px;
        position: relative;
        left: 0;
    }

    .variations {
        padding: 0;
    }

    .workout {
        font-size: 14px;
    }

    .unique2 {
        font-size: 14px;
    }

    .download {
        font-size: 9px;
    }

    .download img {
        height: 100px;
        width: 100px;
    }
}


/* Medium devices (769px to 1000px) */
@media only screen and (min-width: 769px) and (max-width: 1000px) {
    .hero-image {
        height: 30vh;
    }

    .schedule {
        width: 100%;
        font-size: 16px;
        position: relative;
        left: 0;
    }

    .variations {
        padding: 0;
    }
}