.equipment {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: 300px;
    background-color: #272727;
    padding: 30px;
    margin-top: -20px;
}

@keyframes rowone {
    0% {left: 100%}
    100% {left: 00%}
}

.rowone {
    position: relative;
    animation-name: rowone;
    animation-duration: 2s;
    animation-delay: 2s;
}

@keyframes rowtwo {
    0% {right: 100%}
    100% {right: 0%}
}

.rowtwo {
    position: relative;
    animation-name: rowtwo;
    animation-duration: 2s;
    animation-delay: 2s;
}