html, body {
  background-color: #FFCC00;
  overflow-x: hidden;
}

.App {
  text-align: center;
}

.toggleMenu {
  position: absolute;
  top: 180px;
  right: 45vw;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 20px;
  z-index: 1;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
}

.toggleMenu:hover {
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

.main-app {
  margin-top: 20px;
}

.navbar {
  position: absolute;
  top: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 35px 100px 35px 30px;
  gap: 50px;
  font-size: 20px;
}

.pages {
  color: black;
}

.navbar .pages:hover {
  font-weight: bold;
}

.subnav {
  display: none;
}

.subnav.active {
  display: block;
  position: absolute;
  left: 18%;
  top: 15%;
  height: 315px;
  width: 130px;
  background-color: #FFCC00;
  z-index: 1;
}

.sub-pages {
  color: black;
}

.sub-pages:hover {
  font-weight: bold;
}

/* Small to mid devices (1000px and down) */
@media only screen and (max-width: 1000px) {
  .toggleMenu {
    display: flex;
    position: absolute;
    top: 3%;
    left: 8%;
  }

  .navbar {
    display: none;
  }

  .navbar.active{
      display: flex;
      flex-wrap: wrap;
      transition: 350ms;
      padding: 20px 0;
      margin-top: 100px;
      gap: 30px;
      z-index: 1;
      background-color: #FFCC00;
  }

 .App {
    width: 100%;
    overflow-x: hidden;
    margin: auto;
  }

  .pages {
    width: 100vw;
  }

  .subnav.active {
    display: none;
  }
}